<div>
  <h1>À propos</h1>
  <p>DevShare est un éditeur de code en temps réel avec chat et appel vidéo, il peut être utilisé pour programmer avec
    des amis ou par des enseignants pour enseigner aux étudiants comment coder en codant ensemble</p>
  <p>créer par boularbag ramzi,2021</p>
</div>